/* Ensure the title is centered when the app opens */
.container {
  height: 175vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  flex-direction: column;
  position: relative;
  background-color: #000000; /* Dark background */
  color: #DAA520; /* White text */
}

.centeredText {
  font-size: 3rem;
  font-weight: bold;
}

/* Extra scrollable space below */
.spacer {
  height: 75vh; /* Extra space after scrolling */
}
